.login-subtitle{
  font-size: 15px;
  color: #e5e5e5;
  font-weight: 600;
  text-align: center;
}

.login-form {
  width: 100%;
}

.login-btn:disabled {
  background-color: #555;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}