<h3 class="login-subtitle">Insira suas credenciais:</h3>
<form nz-form [formGroup]="loginForm" class="login-form" (submit)="onSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="email" placeholder="Email" maxlength="100" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input autocomplete="current-password" type="password" nz-input formControlName="password"
          placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
    [nzLoading]="loading">Entrar</button>
  <a routerLink="/forgot-password" nz-button class="login-form-button" nzType="link">Esqueceu sua senha?</a>
</form>