<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="/images/icon.png" alt="">
        <h1>Proposta Fácil</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      @for (item of menuItems; track item.title) {
      <li [hasRole]="item.role" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? item.title : ''"
        [routerLink]="item.route" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
        <nz-icon [nzType]="item.icon" />
        <span>{{item.title}}</span>
      </li>
      }
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          </span>
        </span>

        <!-- 🧑 Usuário / Menu -->
        <div class="user-dropdown" nz-dropdown [nzDropdownMenu]="userMenu" nzTrigger="click">
          <span class="user-info">
            <img [src]="avatar" alt="avatar" class="avatar" />
            <span class="username">{{nomeUsuario}}</span>
            <i nz-icon nzType="down"></i>
          </span>
        </div>

        <nz-dropdown-menu #userMenu="nzDropdownMenu">
          <ul nz-menu>
            <li hasRole="AdminTenant" nz-menu-item (click)="subscriptionAccount()">
              <i nz-icon nzType="setting" class="me-1"></i>
              Conta
            </li>
            <li nz-menu-item (click)="goToProfile()">
              <i nz-icon nzType="lock" class="me-1"></i>
              Atualizar senha
            </li>
            <li nz-menu-item (click)="logout()" [nzDisabled]="isLoggingOut">
              @if(!isLoggingOut){
              <i nz-icon nzType="logout" class="me-1"></i>
              }@else{
              <span class="me-1" style="display: inline-block; vertical-align: middle;">
                <nz-spin [nzSize]="'small'"></nz-spin>
              </span>
              }
              Sair
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>