<form nz-form [formGroup]="formClient" (ngSubmit)="onSubmit()" nzLayout="vertical">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="name">Nome</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl">
          <input nz-input formControlName="name" id="name" maxlength="100" />
          <ng-template #nameErrorTpl let-control>
            @if (control.hasError('required')) {
              O campo é obrigatório
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzFor="email" [nzRequired]="true">Email</nz-form-label>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" id="email" maxlength="100" />
          <ng-template #emailErrorTpl let-control>
            @if (control.hasError('required')) {
              O campo é obrigatório
            }
            @if (control.hasError('email')) {
              O campo deve ser um email válido
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Tipo Pessoa</nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="tipoPessoa">
            <label nz-radio [nzValue]="'PESSOA_FISICA'">Pessoa Física</label>
            <label nz-radio [nzValue]="'PESSOA_JURIDICA'">Pessoa Jurídica</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzFor="document" [nzRequired]="true">CPF/CNPJ</nz-form-label>
        <nz-form-control [nzErrorTip]="documentErrorTpl">
          <input nz-input formControlName="document" id="document" [mask]="getMaskCpfCnpj()" />
          <ng-template #documentErrorTpl let-control>
            @if (control.hasError('required')) {
              O campo é obrigatório
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber" [nzRequired]="true">Telefone</nz-form-label>
        <nz-form-control [nzErrorTip]="phoneNumberErrorTpl">
          <input nz-input formControlName="phoneNumber" id="phoneNumber" mask="(00) 0 0000-0000" />
          <ng-template #phoneNumberErrorTpl let-control>
            @if (control.hasError('required')) {
              O campo é obrigatório
            }
            @if (control.hasError('mask')) {
              Telefone inválido
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <!-- Endereço -->
  <fieldset formGroupName="address">
    <h3 class="mt-3">Endereço</h3>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="addressZipCode" [nzRequired]="true">CEP</nz-form-label>
          <nz-form-control [nzErrorTip]="zipCodeErrorTpl">
            <input nz-input formControlName="addressZipCode" id="addressZipCode" mask="00000-000" (blur)="getCep()" />
            <ng-template #zipCodeErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
              @if (control.hasError('mask')) {
                CEP inválido
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="addressStreet" [nzRequired]="true">Logradouro</nz-form-label>
          <nz-form-control [nzErrorTip]="streetErrorTpl">
            <input nz-input formControlName="addressStreet" id="addressStreet" maxlength="100" />
            <ng-template #streetErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="addressNumber" [nzRequired]="true">Número</nz-form-label>
          <nz-form-control [nzErrorTip]="numberErrorTpl">
            <input nz-input formControlName="addressNumber" id="addressNumber" maxlength="10" />
            <ng-template #numberErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="addressComplement">Complemento</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="addressComplement" id="addressComplement" maxlength="100" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="addressDistrict" [nzRequired]="true">Bairro</nz-form-label>
          <nz-form-control [nzErrorTip]="districtErrorTpl">
            <input nz-input formControlName="addressDistrict" id="addressDistrict" maxlength="100" />
            <ng-template #districtErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="addressState" [nzRequired]="true">Estado</nz-form-label>
          <nz-form-control [nzErrorTip]="stateErrorTpl">
            <input nz-input formControlName="addressState" id="addressState" maxlength="100" />
            <ng-template #stateErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label nzFor="addressCity" [nzRequired]="true">Cidade</nz-form-label>
          <nz-form-control [nzErrorTip]="cityErrorTpl">
            <input nz-input formControlName="addressCity" id="addressCity" maxlength="100" />
            <ng-template #cityErrorTpl let-control>
              @if (control.hasError('required')) {
                O campo é obrigatório
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </fieldset>

  <!-- Botões -->
  <nz-form-item class="mt-4">
    <nz-form-control>
        <button nz-button nzType="primary">
          {{ data && data.clientId ? 'Editar' : 'Cadastrar' }}
        </button>
    </nz-form-control>
  </nz-form-item>
</form>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>
