<div class="container">
  <div style="display: flex;">
    <h2 nz-title class="text-center me-2">Usuários</h2>
    <btn-novo title="Novo usuário" (clickEvent)="openNewPlayerModal()">
    </btn-novo>
  </div>

  <form nz-form [formGroup]="filtroForm" (ngSubmit)="getUsers()" nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="24" [nzMd]="12">
        <label for="nome">Nome</label>
        <input formControlName="name" id="name" placeholder="Nome" nz-input />
      </div>
    </div>
    <div nz-row class="mt-2 mb-2">
      <div nz-col [nzXs]="24" [nzMd]="12">
        <btn-pesquisar class="me-1"></btn-pesquisar>
        <btn-limpar (clickEvent)="limpar()"></btn-limpar>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-between align-items-center p-2 mb-2">
    <nz-pagination nzSize="small" [nzTotal]="paginatedUsers.count" [(nzPageIndex)]="paginatedUsers.pageNumber"
      [nzPageSize]="paginatedUsers.pageSize" (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[2,5,10]"
      style="max-width: 600px; width: 100%;">
    </nz-pagination>
  </div>

  <nz-table [nzData]="paginatedUsers.data" [nzFrontPagination]="false" [nzSize]="'small'" [nzBordered]="true">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Role</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for(user of paginatedUsers.data; track user.id){
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button hasRole="EDIT_USER" nz-tooltip nzTooltipTitle="Editar" nzTooltipPlacement="top" class="me-1" nz-button
            nzType="primary" (click)="openEditPlayerModal(user)">
            <span nz-icon nzType="edit"></span>
          </button>
          <button hasRole="DELETE_USER" nz-tooltip nzTooltipTitle="Excluir" nzTooltipPlacement="top" nz-button
            nzType="primary" (click)="showConfirm(user.id)" nzDanger>
            <span nz-icon nzType="delete"></span>
          </button>
        </td>
      </tr>
      }@empty {}
    </tbody>
  </nz-table>

</div>