<div class="container">
  <div style="display: flex;">
    <h2 nz-title class="text-center me-2">Usuários</h2>
    <btn-novo title="Novo usuário" (clickEvent)="openNewUserModal()">
    </btn-novo>
  </div>

  <form nz-form [formGroup]="filtroForm" (ngSubmit)="getUsers()" nzLayout="vertical">
    <div nz-row [nzGutter]="12">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label for="nameFilter">Nome</nz-form-label>
          <nz-form-control>
            <input formControlName="nameFilter" id="nameFilter" placeholder="Nome" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label for="role">Role</nz-form-label>
          <nz-form-control>
            <nz-select id="role" formControlName="role">
              <nz-option [nzValue]="''" nzLabel="Todas"></nz-option>
              @for(role of roles; track $index){
              <nz-option [nzValue]="role" [nzLabel]="role"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="4">
                <nz-form-item>
                    <nz-form-label>Somente ativos</nz-form-label>
                    <nz-form-control>
                    <nz-switch formControlName="onlyActive"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
    </div>
    <div nz-row class="mt-2 mb-2">
      <div nz-col [nzXs]="24" [nzMd]="12">
        <btn-pesquisar class="me-1"></btn-pesquisar>
        <btn-limpar (clickEvent)="limpar()"></btn-limpar>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-between align-items-center p-2 mb-2">
    <nz-pagination nzSize="small" [nzTotal]="paginatedUsers.count" [(nzPageIndex)]="paginatedUsers.pageIndex"
      [nzPageSize]="paginatedUsers.pageSize" (nzPageIndexChange)="onPageChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[2,5,10]"
      style="max-width: 600px; width: 100%;">
    </nz-pagination>
  </div>

  <nz-table [nzData]="paginatedUsers.data" [nzFrontPagination]="false" [nzSize]="'small'" [nzBordered]="true">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Role</th>
        <th>Ativo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for(user of paginatedUsers.data; track user.id){
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber | phone }}</td>
        <td>{{ user.role }}</td>
        <td>
          <tag-ativo [status]="user.isActive"></tag-ativo>
        </td>
        <td>
          <button  nz-tooltip nzTooltipTitle="Visualizar" nzTooltipPlacement="top" class="me-1" nz-button
            nzType="primary" (click)="openViewUserModal(user.id)">
            <span nz-icon nzType="eye"></span>
          </button>
          <button nz-tooltip nzTooltipTitle="Editar" nzTooltipPlacement="top" class="me-1" nz-button
            nzType="primary" (click)="openEditUserModal(user.id)">
            <span nz-icon nzType="edit"></span>
          </button>
          <button nz-tooltip nzTooltipTitle="Desativar" nzTooltipPlacement="top" nz-button
            nzType="primary" (click)="showConfirm(user.id)" nzDanger>
            <span nz-icon nzType="pause-circle"></span>
          </button>
        </td>
      </tr>
      }@empty {}
    </tbody>
  </nz-table>

</div>