<div class="autocomplete" #autoComplete>
    <div class="input" [ngClass]="{'border-danger': invalid}" [class.focused]="visible" (click)="toggleVisible()">
        @if(valorInicial && !selectedItem){
            <span >
                {{valorInicial}}
            </span>
        }
        @else if(!valorInicial && !selectedItem){
            <span id="placeholder" class="ellipsis">
                {{title}}
            </span>
        }
        @else {
            <span>
                {{selectedItem ? selectedItem[filterBy] : ''}}
            </span>
        }
    </div>
    
    
    @if (selectedItem){
        <button class="close" (click)="resetSelectedItem()">
            <i nz-icon nzType="close-circle"></i>
        </button>
    }
    @if(visible){
        <div class="popover">
            <input nz-input #input type="text" [(ngModel)]="query" (keyup)="changeQuery()" (keydown)="keyDownChange($event)" 
             placeholder="Procure algum...">
            <div class="options" #optionsList>
                <ul>
                    @for(match of matches(); track $index){
                        <li [ngClass]="{'selected': selected == $index}" (click)="selected = $index; selectItem()">
                            {{match[filterBy]}}
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    
</div>