<form nz-form [formGroup]="formProposal" (ngSubmit)="onSubmit()" nzLayout="vertical">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true" nzFor="title">Titulo</nz-form-label>
        <nz-form-control [nzErrorTip]="titleErrorTpl">
          <input nz-input formControlName="title" id="title" placeholder="Titulo" maxlength="100" />
          <ng-template #titleErrorTpl let-control>
            @if (control.hasError('required')) {
            O campo é obrigatório
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzRequired="">Cliente</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <select-autocomplete [valorInicial]="formProposal.get('clientName')?.value" [shouldReset]="false"
            [title]="'Selecione o cliente'" [filterBy]="'name'" (selectedEvent)="clientSelected($event)"
            (changeEvent)="onChangeClient($event)" (deselectEvent)="clientDeselected()"
            [items]="clients" [invalid]="clientNameControl.invalid && clientNameControl.touched"></select-autocomplete>
          @if(clientNameControl.invalid && clientNameControl.touched){
          <div>
            @if(clientNameControl.hasError('required')){
            <span class="text-danger">
              O campo é obrigatório.
            </span>
            }
          </div>
          }
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzFor="currency" [nzRequired]="true">Moeda</nz-form-label>
        <nz-form-control [nzErrorTip]="currencyErrorTpl">
          <input mask="SSS" style="text-transform: uppercase;" nz-input formControlName="currency" id="currency"
            maxlength="100" />
          <ng-template #currencyErrorTpl let-control>
            @if (control.hasError('required')) {
            O campo é obrigatório
            }
            @if (control.hasError('mask')) {
            Moeda inválida
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="validUntilErrorTpl">
          <nz-form-label [nzRequired]="true">Data de Expiração</nz-form-label>
          <nz-date-picker formControlName="validUntil" [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
          <ng-template #validUntilErrorTpl let-control>
            @if (control.hasError('required')) {
            O campo é obrigatório
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col>
      <nz-card class="mt-4" nzTitle="Itens da Proposta" class="mb-2">
        <div formArrayName="items">
          @for(item of items.controls; let i = $index; track item){
            <div [formGroupName]="i" class="mb-3">
              <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="6">
                  <nz-form-control>
                    <nz-form-label nzRequired>Nome</nz-form-label>
                    <input nz-input placeholder="Nome" formControlName="name" />
                  </nz-form-control>
                </nz-col>
                <nz-col [nzSpan]="8">
                  <nz-form-control>
                    <nz-form-label nzRequired>Descrição</nz-form-label>
                    <input nz-input placeholder="Descrição" formControlName="description" />
                  </nz-form-control>
                </nz-col>
                <nz-col [nzSpan]="4">
                  <nz-form-control>
                    <nz-form-label nzRequired>Qtd.</nz-form-label>
                    <input nz-input [mask]="'0?0?0'" [validation]="false" [dropSpecialCharacters]="false" placeholder="Qtd." formControlName="quantity" />
                  </nz-form-control>
                </nz-col>
                <nz-col [nzSpan]="4">
                  <nz-form-control>
                    <nz-form-label nzRequired>Preço</nz-form-label>
                    <input mask="separator.2" [dropSpecialCharacters]="true" nz-input placeholder="Preço unitário" formControlName="unitPrice" maxlength="8"/>
                  </nz-form-control>
                </nz-col>
                @if (items.controls.length > 1) {
                  <nz-col [nzSpan]="2" class="btn-delete">
                    <button type="button" nz-button nzType="default" nzDanger (click)="removeItem(i)" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Excluir'">
                      <nz-icon nzType="delete" />
                    </button>
                  </nz-col>
                }
              </nz-row>
            </div>
          }
        </div>

        <button type="button" nz-button nzType="dashed" class="mt-2" (click)="addItem()">
          + Adicionar Item
        </button>
      </nz-card>
    </nz-col>
  </nz-row>
  <nz-row class="mb-2">
    <nz-col [nzSpan]="24" class="text-right">
      <span style="font-size: 15px">
        <strong>Total da Proposta: </strong> {{ totalProposal | currency: formProposal.get('currency')?.value }}
      </span>
    </nz-col>
  </nz-row>

  <!-- Botões -->
  <nz-form-item class="mt-4">
    <nz-form-control>
      <button nz-button nzType="primary">
        {{ data && data.proposalId ? 'Editar' : 'Cadastrar' }}
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>