.login-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0d13; /* Cor escura para combinar com o estilo LoL */
  padding: 0 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #1f2329; /* Cor de fundo mais escura para o card */
  border: 1px solid #444c56;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.lol-icon {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.login-title {
  font-size: 28px;
  color: #e5e5e5;
  font-weight: 600;
  margin-bottom: 0;
}

.login-subtitle{
  font-size: 15px;
  color: #e5e5e5;
  font-weight: 600;
}

.login-form {
  width: 100%;
}

.login-btn:disabled {
  background-color: #555;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}